<!--<app-navbar></app-navbar>-->
<mat-toolbar color="accent">
  <button
    (click)="opened = !opened"
    aria-label="Example icon-button with menu icon"
    class="example-icon"
    mat-icon-button
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ storageService.titleName$ | async }}</span>
  <span class="example-spacer"></span>
  <button
    aria-label="Example icon-button with heart icon"
    class="example-icon favorite-icon"
    mat-icon-button
  >
    <span class="material-symbols-outlined"> view_stream </span>
  </button>
  <button
    aria-label="Example icon-button with heart icon"
    class="example-icon favorite-icon"
    mat-icon-button
  >
    <!-- <mat-icon>grid_on</mat-icon> -->
    <span class="material-symbols-outlined"> grid_view </span>
  </button>
  <button
    aria-label="Example icon-button with heart icon"
    class="example-icon favorite-icon"
    mat-icon-button
  >
    <span class="material-symbols-outlined"> settings </span>
  </button>
  <button
    aria-label="Example icon-button with share icon"
    class="example-icon"
    mat-icon-button
  >
    <span class="material-symbols-outlined"> person </span>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [(opened)]="opened" mode="side">
    <app-drawer> </app-drawer>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-note-input></app-note-input>
    <br />
    <br />
    <app-notes></app-notes>
    <!-- <button #toggleButton (click)="toggleMenu()">Toggle Menu</button>
    <textarea *ngIf="isMenuOpen" #ta></textarea> -->
  </mat-sidenav-content>
</mat-sidenav-container>
